@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  line-height: 1;
  font-size: 1.4rem;
}

li {
  list-style-type: none;
}

input,
button {
  line-height: 1;
  outline: none;
}

button {
  cursor: pointer;
}

.sidebar-avatar {
  width: 3.9rem;
  height: 3.9rem;
}

.div-menu {
  padding: 5px;
  cursor: pointer;
}

.div-menu-home {
  padding: 10px 5px;
  cursor: pointer;
}

.div-menu-active-home {
  padding: 10px 5px;
  cursor: pointer;
  background-color: #55A8FD80;
  border-radius: 7px;
}

.div-menu-active {
  padding: 10px 5px;
  cursor: pointer;
  background-color: #55A8FD80;
  border-radius: 7px;
}

/* Styling for the modal overlay */
.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #132142CC !important;
}
/* Styling for the modal content */
.ReactModal__Content {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  margin: 20px;
  border: 1px solid #ccc;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding:  40px 24px !important;
  inset: 10px !important;
  margin: auto;
  background-color: #F1F2E8 !important;
  max-height: 7070px;
  height: fit-content;
  max-width: 960px;
}

.react-datepicker__day {
  width: 2.7rem !important;
  height: 2.5rem !important;
}

.react-datepicker__day-name {
  width: 2.7rem !important;
}

.textarea {
  resize: none;
  border: 1px solid #e5e7eb;
  padding: 5px;
  background: #F1F2E8;
}

.textarea-manager {
  resize: none;
  border: 1px solid #F6F6F6;
  padding: 8px;
  background: #F6F6F6;
}

.custom-box {
  border: 1px solid #A7D1FB;
  border-radius: 5px;
  padding: 10px;
  background: #A7D1FB;
  width: 260px;
  position: relative;
}
.wrap-custom-box {
  display: flex;
  background-color: #F1F2E8;
  width: 100%;
  height: 160px;
  overflow-x: auto;
}
.close-box {
  position: absolute;
  top: -18px;
  right: 0px;
} 

.wrap-box-modal {
  background: #FAFAFA;
}

.add-day:disabled {
  background-color: #B5B5B5;
}

.bd-orange-color {
  border-color: #FD7D55;
  border-width: 1px;
}

.bd-loading-color {
  border-color: #132142cc;
  border-width: 1px;
}

.customDatePicker {
  width: 500px;
}

.text-ellipsis {
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  height: 20px;
}

.text-ellipsis-100 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  height: 20px;
}

.text-ellipsis-100-reason {
  width: 100%;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  max-height: 50px;
  padding-bottom: 5px;
}

.text-reason-title {
  width: 75px;
}

.text-ellipsis-wrap {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
}

td {
  padding: 5px;
}

.table-container {
  max-height: 600px;
  overflow-y: auto; 
  border-bottom: 1px solid #F1F2E8;
}

.table-container-manager {
  height: 700px;
  overflow-y: auto;
}

.table-fixed {
  border: 1px solid #F1F2E8;
}

.table-containers {
  width: 100%;
  max-width: 1280px;
  overflow-x: auto;
  max-height: 750px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.th-checkin, .td-checkin {
  border: 1px solid #B4B4B4;
}

.w-content-full {
  width: calc(100% - 25rem);
}

.onExtend {
  height: 40px;
  cursor: pointer;
}

.avatar-manage {
  background-color: #acb9d5;
  width: 3rem;
  height: 3rem;
}

.content {
  height: 0;
  opacity: 0;
  transition: height 0.32s ease-out;
}

.expanded {
  height: max-content;
  transition: height 0.32s ease-in;
  opacity: 1;
}

.wrap-mamage-comment {
  max-width: 600px;
  width: 100%;
  margin: 0 32px;
}

.background-unpaid {
  background-color: #E2FFF1;
}

.background-paid {
  background-color: #fff;
}

.bell-notify {
  width: 2.5rem;
  height: 2.5rem;
  float: inline-end;
}

.wrap-notify {
  position: absolute;
  top: 70px;
  right: 10px;
  background-color: #fff;
  width: 400px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  max-height: 500px;
  overflow: auto;
}

.wrap-notify-nonread {
  background-color: #F1F2E8;
  border-bottom: 1px solid #d4c7c7;
}

.wrap-header-notify {
  background-color: #22355E;
  color: #fff;
  justify-content: space-between;
  display: flex;
  padding: 10px 12px;
  border-radius: 3px;
}

.Popover-below {
  top: 0 !important;
  right: 0 !important;
  z-index: 60;
}

.number-notify {
  position: absolute;
  top: -7px;
  right: 0px;
  background-color: #FD7D55;
  color: #fff;
  border-radius: 50%;
  font-size: 12px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-notify-box {
  border-bottom: 1px solid #d4c7c7;
}

.notify-box {
  cursor: pointer;
}

.wrap-canvas {
  height: 600px;
  width: 1200px;
  margin-top: 30px;
}

.canvas {
  height: 100%;
  width: 100% !important;
  pointer-events: auto;
}

.w-25rem {
  width: 25rem !important;
}

.loader {
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#ffa516 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#ffa516);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}